<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js e Express</title>
</head>
<body>

    <nav>
        <a href="/">Inicio</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a>
    </nav>

    <h1>Sobre</h1>

    

    <img src="https://via.placeholder.com/150">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis officia, vel mollitia dolore, quisquam aliquid voluptatibus et recusandae rerum aspernatur. Eos saepe tenetur quis suscipit iusto harum aliquid dolorum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, enim. Laborum consequuntur exercitationem enim tempora qui necessitatibus dolor temporibus, maxime eveniet eius laudantium ratione reprehenderit, nemo nesciunt distinctio optio. Facilis.</p>
    
</body>
</html>